doctype html
html(lang="fa" dir="rtl")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="./scss/style.css" rel="stylesheet")
        //link(href="scss/bootstrap.css" rel="stylesheet")
        //link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet")
        title سیستم کنترل حضور و غیاب
        body
            include  header
            main.main
                section
                    .container
                        .row
                            include  sidebar

                            block main





            script(src="./js/jquery.min.js")
            script(src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js")
            script(src="./js/script.js")
            //script(src="../js/animation.min.js")
            //script(src="../js/barba.js")
