extends ../parsials/layoutLogin

block main
    section#login-page
        .login
        .container.container-login
            .row(style="height:100%;display: flex;justify-content: center;")
                //.col-md-6.box-right
                .col-xl-5.col-lg-6.col-10.box-right
                    .card.card-login
                        .card-body
                            .row.row-input-login
                                form#frm
                                    .col-md-12.col-num-1(style="margin-bottom:40px")
                                        img.img-fluid.pictureLogo(src="../images/logo.png")
                                        h3 سیستم کنترل حضور و غیاب / حقوق و دستمزد
                                    .col-md-12.col-num-1-1
                                        span.message-sendSMS
                                            |  شماره همراه یا ایمیلی که باهاش ثبت نام کردی رو وارد کن
                                        span.message-sendSMS
                                            | ما یه لینک برات ارسال میکنیم و  میتونی رمز جدید خودت رو تنظیم کنی :)

                                        //span.message-newpassword

                                    .col-md-12.col-num-2
                                        label.form-label(for='newPass') شماره همراه/آدرس ایمیل
                                        .input-group.groupInput
                                            input#newPass.form-control.user-pass-input(type='text' name='newPass' required="required")
                                            i.bi.bi-send


                                    //.col-md-12.col-num-3
                                        label.form-label(for='newPassRepeat') تکرار رمز عبور جدید
                                        .input-group.groupInput
                                            input#newPassRepeat.form-control.user-pass-input(type='password')
                                            i.bi.bi-key
                                    .col-md-12.col-num-5-sendSMS
                                        button.btn.btn-primary.btn-green-sendSMS
                                            | ارسال لینک بازیابی رمز
                                        button.btn.btn-outline-secondary.btn-cancle.display-none-btn
                                            | انصراف

                                #f2.display-none-btn
                                    include formError

                //.col-md-6.box-left
                .col-xl-5.col-lg-6.col-md-6.d-lg-block.d-none.box-left
                    img.img-fluid.watch-login(src="../images/watchLogin.png")
