extends ../parsials/layoutLogin

block main
    section#login-page
        .login
        .container.container-login
            .row(style="height:100%;display: flex;justify-content: center;")
                .col-xl-5.col-lg-6.col-10.box-right
                    .card.card-login
                        .card-body
                            .row.row-input-login
                                form(action="post")
                                    .col-md-12.col-num-1(style="margin-bottom:40px")
                                        img.img-fluid.pictureLogo(src="../images/logo.png")
                                        h3 سیستم کنترل حضور و غیاب / حقوق و دستمزد

                                        //span.message-newpassword

                                    .col-md-12.col-num-2

                                        img.img-fluid.picturecheck(src="../images/check2.png" )
                                        span.message-sendSMS
                                            | لینک تنظیم رمز برات ارسال شد
                                        span.message-sendSMS
                                            | بعد از تنظیم رمز جدید میتونی از صفحه ورودوارد پنل کاربری بشی :)


                                    //.col-md-12.col-num-3
                                        label.form-label(for='newPassRepeat') تکرار رمز عبور جدید
                                        .input-group.groupInput
                                            input#newPassRepeat.form-control.user-pass-input(type='password')
                                            i.bi.bi-key
                                    .col-md-12.col-num-5
                                        //button.btn.btn-outline-secondary.btn-cancle
                                            | انصراف
                                        button.btn.btn-primary.btn-green
                                            | برو به صفحه ورود
                                #f2.display-none-btn
                                    include formError

                .col-xl-5.col-lg-6.col-md-6.d-lg-block.d-none.box-left
                    img.img-fluid.watch-login(src="../images/watchLogin.png")
