extends ../parsials/layout

block main
    section
        .login
        .container.container-login
            .row
                .col-md-6.box-right
                    .card.card-login
                        .card-body
                            .row.row-input-login
                                form(action="post")
                                    .col-md-12.col-num-1(style="margin-bottom:40px")
                                        img.img-fluid.pictureLogo(src="../images/logo.png")
                                        h3 سیستم کنترل حضور و غیاب / حقوق و دستمزد
                                        span.message-newpassword رمز عبور جدیدت رو وارد کن و سعی کن دیگه یادت نره :)
                                    .col-md-12.col-num-2
                                        label.form-label(for='newPass') رمز عبور جدید
                                        .input-group.groupInput
                                            input#newPass.form-control.user-pass-input(type='text' name='newPass' required="required")
                                            i.bi.bi-key


                                    .col-md-12.col-num-3
                                        label.form-label(for='newPassRepeat') تکرار رمز عبور جدید
                                        .input-group.groupInput
                                            input#newPassRepeat.form-control.user-pass-input(type='password')
                                            i.bi.bi-key
                                    //.col-md-12.col-num-4
                                        a#forget(href="formError") رمزمو فراموش کردم
                                        .form-check#remember-form-check

                                            label.form-check-label(for='remember')
                                                | منو یادت بمونه
                                            input#remember.form-check-input(type='checkbox' value='')

                                    .col-md-12.col-num-5
                                        button.btn.btn-primary.btn-green
                                            | تنظیم رمز جدید
                                #f2.display-none-btn
                                    include formError

                .col-md-6.box-left
                    img.img-fluid.watch-login(src="../images/watchLogin.png")
